.container {
    flex: 1 0 auto;
    color: #DD6E42 !important;
}
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav, footer {
    background-color: #0F1108 !important;
}
a {
    color: #CAD8DE !important;
}
